---
title: {{title}}
layout: 'base.njk'
css: style
---
<!-- esta aca pq si uso el "layout" eso tiene q estar en los includes -->

<article class="main-article">
    <div class="container container--narrow flow">
      
        <h1 class="article-title">
          {{title}}
        </h1>
        <figure class="main-article__figure">
          {% if image %}
            <img src="{{image}}" alt="{{imageAlt}}" class="snippet__image">
          {% else %}
          {% endif %}
          <figcaption>
            {{imageAlt}}
          </figcaption>
        </figure>
        
        {{content| safe}}
      
    </div>
</article>